*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    text-align: center;
    margin: 50px 0;
    font-weight: normal;
}

.container{

}

.nav{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.slide{
    height: 600px;
    background-image: url(../images/img_01.jpg);
    border-image-repeat: no-repeat;
    background-size: cover;
}

.gnb{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.gnb li{
    padding: 20px;
}

.header p{
    width: 600px;
    margin: 50px auto;
    text-align: center;
}

.main{
    width: 1000px;
    margin: 0 auto;
}

.section{
    margin: 60px;
}

.section p{
    line-height: 2;
}

h2{
    margin: 20px 0;
    text-align: center;
}

.gotop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    display: none;
}

.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0,0,12px rgba(0,0,0,0.2);
}